.title-header {
    padding: 15px 0;
    font-size: 24px;
}

.title-header h1 {
    font-weight: 700;
    font-size: 24px;
}

.title-header h1 span{
    font-weight: 300;
    font-size: 24px;
}

footer {
    font-family: 'Montserrat', sans-serif;
    color: #B9BDCF;
    font-size: 14px;
    font-weight: 500;
}

footer span {
    font-weight: 700;
}